.ec{
    &-page{
        &-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-container{
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-auto-flow: column;
        height: 100vh;
    }
    &-sidebar{
        background-color: $main-blue-70;
        &-item{
            padding: $px;
            color: $white;
            cursor: pointer;
            &:hover{
                background-color: $main-blue-80;
            }
            &.active{
                background-color: $main-blue-90;
                &:hover{
                    background-color: $main-blue-100;
                }
            }
        }
    }
    &-content{
        padding: $px abs($px*2);
    }
}