.btn{

    &-secondary{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border: none;
        font-family: $font;
        line-height: normal;
        font-size: 1.2em;
        cursor: pointer;
        @include transition;
        max-height: 40px;
    }
    &-chat-action{
        cursor: pointer;
        .unicon{
            margin-right: $px;
            fill: $grey;
            @include transition;
        }
        &:hover{
            .unicon{
                fill: $main;
            }
        }
    }
    &-back{
        margin-bottom: $px;
        .unicon{
            margin-right: $px;
            fill: $dark;
            @include transition;
        }
        color: $dark;
        &:hover{
            .unicon{
                fill: $main;
            }
            color: $main;
        }
    }
    &-row{
        display: flex;
        flex-direction: row;
        .btn+.btn{
            margin-left: $px_2;
        }
    }
    &-block{
    width: 100%;
    }

    display: block;
    padding: $px abs($px*2);
    border-radius: 4px;
    border: none;
    font-family: $font;
    line-height: normal;
    font-size: 18px;
    cursor: pointer;
    max-height: 40px;
    @include transition;

    &:focus{
        outline: none;
    }

    &-regular{
        background-color: $main;
        color: $white;
        &:hover{
           @include hover($main, .3);
           color: $white;
           text-decoration: none;
        }
        &-o{
            border:1px solid $main;
            background-color: transparent;
            color: $main;
            &:hover{
                background-color: $main;
                color: $white;
            }
        }
    }
    &-danger{
        background-color: $main-danger-80;
        color: $white;
        &:hover{
           @include hover($main-danger-100, .2);
           color: $white;
           text-decoration: none;
        }
        &-o{
            border:1px solid $main-danger-80;
            background-color: transparent;
            color: $main-danger-90;
            &:hover{
                background-color: $main-danger-90;
                color: $white;
            }
        }
    }
    &-disabled{
        background-color: $main-blue-10;
        color: $main-blue-40;
        border: 1px solid $main-blue-20;
        cursor: not-allowed;
    }
    &-white{
        background-color: $white;
        color: $main;
        &:hover{
           @include hover($white, .3)
        }
        &-o{
            border:1px solid $white;
            background-color: transparent;
            color: $white;
            &:hover{
                background-color: $white;
                color: $main;
            }
        }
    }
    &-close{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        cursor: pointer;
    }
    &-like{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        cursor: pointer;
        margin-right: abs($px*2);
    @include transition;
        .like-count{
            margin-left: $px;
            font-size: 1.4em;
        }
        &--disabled{
            .unicon{
                fill: transparentize($white, .8);
                cursor: not-allowed;
            }
            .like-count{
                color: transparentize($white, .8);
                cursor: not-allowed;

            }
        }
        &--light{
            .unicon{
                fill: $main;
            }
        }
        &--dark{
            .unicon{
                fill: $light;
            }
        }
        &--active{
            .unicon{
                fill: $danger;
            }
            cursor: not-allowed;
        }
        &--active{}
    }
}

@media screen and (min-width: 360px) and (max-width:767px){
    .btn{
        &-row{
            padding: 0 $px;
            display: flex;
            flex-direction: column;
            .btn+.btn{
                margin-left: 0px;
            }
        }
    }
}


// DROPDOWN BUTTONS
.bp-dropdown--sub {
    width: 100%;
}

.bp-dropdown--sub .bp-dropdown__btn,
.bp-dropdown--sub .bp-dropdown__sub {
    width: 100%;
}

.bp-dropdown--sub .bp-dropdown__icon {
    margin-left: auto;
}

.bp-dropdown__btn {
    display: inline-flex;
    align-items: center;
    padding: 3px 5px;
    cursor: pointer;
    transition: background-color .1s ease;
}

.bp-dropdown__sub {
    display: inline-flex;
    align-items: center;
}

.bp-dropdown__btn--active {
    background-color: transparentize($dark_1, .5);
    border-radius: 50%;
    @include transition;
}

.bp-dropdown__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: visible;
    transition: transform .1s ease;
}

.bp-dropdown__icon--spin {
    width: 12px;
    height: 12px;
    animation: spin 2s infinite linear;
}

.bp-dropdown__icon--top {
    transform: rotate(-180deg);
}

.bp-dropdown__icon--right {
    transform: rotate(-90deg);
}

.bp-dropdown__icon--bottom {
    transform: rotate(0);
}

.bp-dropdown__icon--left {
    transform: rotate(-270deg);
}

.bp-dropdown__btn--active .bp-dropdown__icon--top,
.bp-dropdown__sub--active .bp-dropdown__icon--top {
    transform: rotate(0);
}

.bp-dropdown__btn--active .bp-dropdown__icon--right,
.bp-dropdown__sub--active .bp-dropdown__icon--right {
    transform: rotate(-270deg);
}

.bp-dropdown__btn--active .bp-dropdown__icon--bottom,
.bp-dropdown__sub--active .bp-dropdown__icon--bottom {
    transform: rotate(-180deg);
}

.bp-dropdown__btn--active .bp-dropdown__icon--left,
.bp-dropdown__sub--active .bp-dropdown__icon--left {
    transform: rotate(-90deg);
}

.bp-dropdown__body {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: $px;
    background-color: $dark_1;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
    z-index: 9999;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@keyframes spin {
    0% {
        transform:rotate(0)
    }
    100% {
        transform:rotate(360deg)
    }
}

.dropdown{
    &-item{
        list-style: none;
        padding: $px;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include transition;
        cursor: pointer;
        &:first-child{
            border-top-left-radius: $px;
            border-top-right-radius: $px;
        }
        &:last-child{
            border-bottom-left-radius: $px;
            border-bottom-right-radius: $px;
        }
        &:hover{
            background: transparentize($main, .9);
            color: $white;

        }
    }
}